*{
    padding: 0;
    margin: 0px;
}
    .container{
    position:absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
    height: 80%;
    width: 90%;
}
h1{
    font-size:1.5em;
    color:aliceblue;
    text-align: center;
    line-height: 60px;
}
h3{
    text-align: center;
    font-size: 15px;
    margin-top: 18px;
}
.box{
    background-color: thistle;
    border: 2px solid black;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:  20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 90%;
    overflow: scroll;
}
.inner-box{
    color: white;
    font-size: 1.1em;
    background-color: black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px; 
}
.songs{
    position: relative;
    width: 100%;
    height: 100;
}
audio{
    padding-bottom: 20px;
    position: relative;
    align-content: center;
    height: 40px;
    width: 100%;
    outline: none;
}
body{
    background:linear-gradient(to left,#9796f0, #fbc7d4);
    font-family:sans-serif;
}
footer{
    position: absolute;
    width: 100%;
    height:6%;
    background-color: black;
    color: white;
    top: 100%;
    text-align: center;
    padding-top: 2px;
  margin-bottom: 0px;
}
footer a{
    color: aliceblue;
    text-decoration: none;
}
span{
    color:violet;
}
.hamburger{
    position: relative;
    color: white;
    display: inline;
    float: right;
    top: -43px;
    font-size: 1.8em;
    margin-right: 2.9%;
}
.hamburger:hover{
    color: violet;
    transition: .3s;
}
.navigation{
    width: 100%;
    background-color: black;
}
.overlay {    
  height:100%;
  width: 0%;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,3); 
  background-color: rgba(2,6,4, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  border-top: 5px solid violet;
}
.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%;
  text-align: center;
  margin-top: 30px;
  transition-delay: 500ms;
  transition-duration: .5s;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size:1.7em;
  color:#A0A0A0;
  display: block; 
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: violet;
}
.overlay .closebtn {
  position: absolute;
  padding: 0px;
  margin: 0px;
  right: 5px;
  font-size: 70px;
  pointer-events: painted;
}
@media screen and (max-height: 720px) {
  .overlay a 
    {
        font-size: 20px;
    }
  .overlay .closebtn {
    font-size: 40px;
    top: 1%;
    right: 15px;
  }
}
